<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
      <a class="navbar-brand text-white fw-bold" [routerLink]="['/home']"><i class="fa-solid fa-school text-white me-1"></i> TUTEES HUB</a>
      
      <div *ngIf="dataFromParent" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" aria-current="page" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
          </li>
          <li class="nav-item">
            <a (click)="logout()" class="nav-link text-white fw-bold" aria-current="page" [routerLink]="['']" routerLinkActive="router-link-active" >Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>