<form (ngSubmit)="updateStudent()" [formGroup]="editForm" class="w-50 p-5 pt-1 mt-5 ms-5 border rounded">
    <h3 class="pt-3 mb-4 fw-bold">UPDATE STUDENT</h3>
    <div class="mb-4">
        <label>
            <input (change)="getFile($event)" name="studImage" formControlName="studImage" type="file" style="display: none;">
            <img width="75px" [src]="image" alt="Image">
        </label>
    </div>

    <div class="mb-4">
        <input readonly name="studId" formControlName="studId" placeholder="Student ID" type="text" class="form-control" id="exampleInputstudID" aria-describedby="emailHelp" style="padding: 10px; font-size: large; font-weight: 500;">
        <div *ngIf="editForm.get('studId')?.errors && editForm.get('studId')?.touched" class="text-danger fw-semibold">*Invalid Id</div>
    </div>
    <div class="mb-4">
        <input name="studName" formControlName="studName" placeholder="Student Name" type="text" class="form-control" id="exampleInputstudName" aria-describedby="emailHelp" style="padding: 10px; font-size: large; font-weight: 500;">
    </div>
    <div class="form-floating mb-4">
        <select name="studCourse" formControlName="studCourse" id="course" class="form-control">
            <option value="10">BBA</option>
            <option value="20">BCA</option>
            <option value="30">BCom</option>
        </select>
        <label for="course" >Course</label>
    </div>
    <div class="form-floating mb-4">
        <select name="studStatus" formControlName="studStatus" class="form-control" id="studStatus">
            <option value="0">Active</option>
            <option value="1">Inactive</option>
        </select>
        <label for="studStatus">Status</label>
    </div>


    <button (click)="cancel()" class="btn btn-warning me-5 ">Cancel</button>
    <button type="submit" class="btn btn-primary">Update</button>

</form>